* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}

.ba_horizontal {
    display: flex;
    height: calc(100vh - 100px); /* Adjust for header height */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 60px;
}

.ba_h1 {
    flex: 0 0 70px; /* Sidebar width */
    background-color: white;
}

.ba_h2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    max-width: 100%;
}

.ba_heading {
    margin: 20px 0;
    text-align: center;
    color: #091A44;
    font-size: 1.8rem;
}

.ba_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.ba_card {
    background-color: #5570F1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(80, 61, 149, 0.1);
    padding: 20px;
    text-align: center;
    width: 150px;
    transition: transform 0.3s ease;
    cursor: pointer;
    border: 2px solid transparent;
}

.ba_card.selected {
    border-color: #5C6BC0;
    box-shadow: 0 0 10px #5C6BC0;
}

.ba_card_img {
    width: 48px;
    height: 48px;
    color: white;
}

.ba_card_text {
    margin-top: 10px;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.ba_card:hover {
    transform: scale(1.05);
}

.ba_horizontal_line {
    width: 90%;
    border: 1px solid #091A44;
    margin: 20px 0;
}

.ba_select_analysis {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ba_select_heading {
    font-size: 1.5rem;
    color: #091A44;
    margin: 0 10px;
    flex: 1;
}

.ba_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 10px 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    text-align: center;
}

.ba_p {
    font-size: 1.2rem;
    color: #091A44;
    margin: 10px;
    font-weight: lighter;
}

.ba_error {
    color: red;
    font-weight: bold;
}

@media (max-width: 768px) {
    .ba_horizontal {
        flex-direction: column;
        align-items: center;
    }

    .ba_cards {
        justify-content: space-around;
    }

    .ba_content {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .ba_card {
        width: 100%;
    }

    .ba_horizontal_line {
        width: 100%;
    }

    .ba_select_analysis {
        padding: 10px;
    }

    .ba_content {
        width: 100%;
    }

    .ba_heading {
        font-size: 1.5rem;
    }
}
